<!DOCTYPE html>
<html>
<head>
	<title>Videos | Think with Google</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <link rel="stylesheet" type="text/css" media="all" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!--  javascript controller -->
   <script src="../controllers/main.js"></script>
    <!-- google fonts -->
   <link href="https://fonts.googleapis.com/css?family=Roboto|Montserrat" rel="stylesheet">  
    <!-- css style -->
  <link rel="stylesheet" type="text/css" href="../css/video.css">
</head>
<body>
    <nav class="navbar navbar-default" data-offset-top="197">
        <div class="container-fluid">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
              </button>
             <a class="navbar-brand" href="index.html"><p>think with</p> <img src="../pic/Google_logo2.png" class="icons icon-header"></a>
          </div>
          <div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                      
                         <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">United States <span class="caret"></span></a>
                           <ul class="dropdown-menu">
                            <li><a href="#">The Netherlands</a></li>
                             <li role="separator" class="divider"></li>
                            <li><a href="#">Germany</a></li>
                             <li role="separator" class="divider"></li>
                            <li><a href="#">France</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Great Britain</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Eritrea</a></li>
                         </ul>
                          </li>
                      </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="micromoments.html">Micro-Moments</a></li>
                      <li><a href="consumer_trend.html">Consumer Trends</a></li>
                      <li><a href="#">Mobile</a></li>
                      <li><a href="video.html">Video</a></li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More Topics <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Advertising</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#">Consumer Goods</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#">Measurement</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#">Programmatic</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#">Retail</a></li>
                        </ul>
                      <li><a href="#">Tools</a></li>
                      <li> <a href="#" id="searchtoggl"><i class="fa fa-search fa-lg"></i></a></li>
                    </ul>   
            </div>
          </div> <!-- /.navbar-collapse -->
        </div> <!-- /.Container-fluid -->
      </nav>    
      <div id="searchbar" class="clearfix">
         <form id="searchform">
             <button type="submit" id="searchsubmit" class="fa fa-search fa-4x"></button>
            <input type="search" name="s" id="s" placeholder="Search Think with Google..." autocomplete="off">
            
         </form>
      </div>	

      <div class="main-wrapper">  
         <div id="title-wrapper">  
              <div id="title-part">
                <h3>Video</h3>
                <nav class="sec-nav">
                  <ul>
                    <li class="active">
                      <a href="#">Insights</a>
                    </li>
                    <li>
                      <a href="#">Trending</a>
                    </li>
                    <li>
                      <a href="#">Leaderboards</a>
                    </li>
                  </ul>
                </nav>
                <div class="subs-button">
                  <a href="#" class="bt-subsc"><img src="../pic/letter.png" class="icons"><span id="link-subsc">Subscribe</span></a>
                </div>
              </div>   
         </div>    <!-- End Top section title -->

         <section>
           <div class="top-img">
              <div class="big-img">
                  <img src="../pic/landscape.png">
              </div>
              <div class="text-box">
                   <p id="title">Featured</p>
                   <h3 class="header">The Extra Mile: 4 Resolutions for Marketers From the Top YouTube Ads in 2016</h3>
                    <p>Google's "Year in Search" retrospective highlights the moments that defined 2016.</p>
                    <a href=""><h5>Read More</h5></a>
              </div>
           </div>
         </section>
         
         <section>
         <div class="content-big">
            <ul class="image-cards">
              <li class="item-cards hvr-box-shadow-outset">
                <img src="../pic/trail.jpg" class="img-small">
                <div class="sm-img-desc">
                  <p id="head">Research Study</p>
                  <h3>Your guide to winning the shift in mobile</h3>
                   <p class="below-text">Seven customers shows their journey through the world.</p>
                 </div> 
              </li>
              <li class="item-cards hvr-box-shadow-outset">
                <img src="../pic/trail.jpg" class="img-small">
                <div class="sm-img-desc">
                  <p id="head">Research Study</p>
                  <h3>Your guide to winning the shift in mobile</h3>
                   <p class="below-text">Seven customers shows their journey through the world.</p>
                 </div> 
              </li>
              <li class="item-cards hvr-box-shadow-outset">
                <img src="../pic/trail.jpg" class="img-small">
                <div class="sm-img-desc">
                  <p id="head">Research Study</p>
                  <h3>Your guide to winning the shift in mobile</h3>
                   <p class="below-text">Seven customers shows their journey through the world.</p>
                 </div> 
              </li>

            </ul>
          </div>
          </section>   <!--  End content big -->
        

        <div class="two-img-side"> 
            <div class="left-img-desc">
              <div id="left-img-container">
                <img src="../pic/trail.jpg" class="img-small"> 
              </div>
              <div id="img-desc">
                 <p id="head">Research Study</p>
                  <h3>Your guide to winning the shift in mobile</h3>
                  <p class="below-text" id="readmore">Read More</p> 
                  <p class="below-text">See All Studies</p> 
              </div> 
            </div> 
            <div class="right-img-big">
                <img src="../pic/trail.jpg" class="img-big"> 
            </div>
        </div>



      </div>   <!-- End Main Wrapper --> 
      
</body>
</html>